{% extends 'base.html.j2' %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}">
{% endblock styles %}

{% block title %}
    {{ super() }}
     | Oh no!
{% endblock title %}

{% block body %}
<div class="main-content">
    <div class="row spectrum">
    <h1 class="spectrum-Heading spectrum-Heading--sizeXXXL spectrum-Heading--heavy">
      {{ code }}
    </h1>  
  </div>
  <div class="row spectrum">
    <h1 class="spectrum-Heading spectrum-Heading--sizeXXXL spectrum-Heading--light">
      {{ message }}
    </h1>
  </div>
  <div class="row">
    <a href="/merger">
      <button class="spectrum-Button spectrum-Button--cta" id="merger-btn">
        <span class="spectrum-Button-label">Lets get back home!&nbsp;<i class="fas fa-home"></i></span>
      </button>
    </a>
  </div>
</div>
{% endblock body %}