{% extends 'base.html.j2' %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/arrange.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/dragula/dist/dragula.min.css') }}">
{% endblock styles %}

{% block title %}
    {{ super() }}
     | Arrange files
{% endblock title %}

{% block body %}
<div class="spectrum-Toast spectrum-Toast--positive">
  <div class="toast-message">
    <svg class="spectrum-Icon spectrum-UIIcon-SuccessMedium spectrum-Toast-typeIcon" focusable="false" aria-hidden="true">
      <path d="M9 1a8 8 0 108 8 8 8 0 00-8-8zm-.15 2.15a1.359 1.359 0 011.431 1.283q.004.064.001.129A1.332 1.332 0 018.85 5.994a1.353 1.353 0 01-1.432-1.433 1.359 1.359 0 011.304-1.412q.064-.002.128.001zM11 13.5a.5.5 0 01-.5.5h-3a.5.5 0 01-.5-.5v-1a.5.5 0 01.5-.5H8V9h-.5a.5.5 0 01-.5-.5v-1a.5.5 0 01.5-.5h2a.5.5 0 01.5.5V12h.5a.5.5 0 01.5.5z"/>
    </svg>
    <div class="spectrum-Toast-body">
      <div class="spectrum-Toast-content">
        This session expires in: <strong><span id="countdown">10:00</span></strong>
      </div>
    </div>
  </div>
  <div class="progress-bar">
    <div id="progress">
      <div id="bar"></div>
    </div>
  </div>
</div>

<div class="main-content">
  <div class="heading">
    <h1>Arrange files</h1>
  </div>

  <div class="spectrum-Steplist" role="list">
    <div class="spectrum-Steplist-item is-complete" role="listitem" aria-posinset="1" aria-setsize="4">
      <span class="spectrum-Steplist-label">Start Merger</span>
      <span class="spectrum-Steplist-markerContainer">
        <span class="spectrum-Steplist-marker"></span>
      </span>
      <span class="spectrum-Steplist-segment"></span>
    </div>
    <div class="spectrum-Steplist-item is-complete" role="listitem" aria-posinset="2" aria-setsize="4">
      <span class="spectrum-Steplist-label">Upload Files</span>
      <span class="spectrum-Steplist-markerContainer">
        <span class="spectrum-Steplist-marker"></span>
      </span>
      <span class="spectrum-Steplist-segment"></span>
    </div>
    <div class="spectrum-Steplist-item is-selected" role="listitem" aria-posinset="3" aria-setsize="4" aria-current="step">
      <span class="spectrum-Steplist-label">Arrange Files</span>
      <span class="spectrum-Steplist-markerContainer">
        <span class="spectrum-Steplist-marker"></span>
      </span>
      <span class="spectrum-Steplist-segment"></span>
    </div>
    <div class="spectrum-Steplist-item" role="listitem" aria-posinset="4" aria-setsize="4">
      <span class="spectrum-Steplist-label">Complete</span>
      <span class="spectrum-Steplist-markerContainer">
        <span class="spectrum-Steplist-marker"></span>
      </span>
      <span class="spectrum-Steplist-segment"></span>
    </div>
  </div>

  <form action="/merger/{{ id }}/complete/" method="POST" id="idform">
    <div id="arrange-container">
      {% for file in file_list %}
        <div class="file spectrum-AssetList-item is-branch is-selectable is-selected">
          <div class="left">
            <div class="spectrum-Checkbox">
              <input type="checkbox" class="spectrum-Checkbox-input" 
              name="file_{{ loop.index }}['check']" checked onclick="checkbox(this);">
              <span class="spectrum-Checkbox-box"></span>
            </div>

            <div class="clone">
              <button type="button" class="spectrum-ActionButton" id="clone-btn" onclick="clone(this);">
                <span class="spectrum-ActionButton-label"><i class="far fa-clone"></i> Clone</span>
              </button>
            </div>
            
            <input type="text" name="file_{{ loop.index }}['name']" id="" value="{{ file['filename'] }}" class="file-input">
            <div>
              <i class="fas fa-file-pdf" style="color:#F40F02"></i>&nbsp;&nbsp;&nbsp;{{ file['filename'] }}
            </div>
          </div>

          <div class="right">
            <div class="spectrum-Stepper">
                <label for="p_start">Start Page</label>
                <input type="number" class="spectrum-Textfield-input spectrum-Stepper-input" 
                  min="1" max="{{ file["pages"] }}" step="1" value="1" 
                  name="file_{{ loop.index }}['start']" id="p_start">
              <span class="spectrum-Stepper-buttons">
                <button type="button" class="spectrum-FieldButton spectrum-Stepper-stepUp" tabindex="2" id="stepUp">
                  <svg xmlns="http://www.w3.org/2000/svg" width="8" height="6"><path d="M4 .5a.747.747 0 00-.53.22C2.862 1.297 1.5 2.758.23 3.96a.75.75 0 101.06 1.06L4 2.31l2.71 2.71a.75.75 0 101.06-1.06L4.53.72A.747.747 0 004 .5z"/></svg>
                </button>
                <button type="button" class="spectrum-FieldButton spectrum-Stepper-stepDown" tabindex="2" id="stepDown">
                  <svg xmlns="http://www.w3.org/2000/svg" width="8" height="6"><path d="M4 5.5a.747.747 0 00.53-.22c.607-.577 1.97-2.038 3.24-3.24A.75.75 0 106.71.98L4 3.69 1.29.98A.75.75 0 10.23 2.04l3.24 3.24A.747.747 0 004 5.5z"/></svg>
                </button>
              </span>
            </div>
  
            <div class="spectrum-Stepper">
                <label for="p_end">End Page</label>
                <input type="number" class="spectrum-Textfield-input spectrum-Stepper-input" 
                  min="1" max="{{ file["pages"] }}" step="1" value="{{ file["pages"] }}" 
                  name="file_{{ loop.index }}['end']" id="p_end">
              <span class="spectrum-Stepper-buttons">
                <button type="button" class="spectrum-FieldButton spectrum-Stepper-stepUp" tabindex="2" id="stepUp">
                  <svg xmlns="http://www.w3.org/2000/svg" width="8" height="6"><path d="M4 .5a.747.747 0 00-.53.22C2.862 1.297 1.5 2.758.23 3.96a.75.75 0 101.06 1.06L4 2.31l2.71 2.71a.75.75 0 101.06-1.06L4.53.72A.747.747 0 004 .5z"/></svg>
                </button>
                <button type="button" class="spectrum-FieldButton spectrum-Stepper-stepDown" tabindex="2" id="stepDown">
                  <svg xmlns="http://www.w3.org/2000/svg" width="8" height="6"><path d="M4 5.5a.747.747 0 00.53-.22c.607-.577 1.97-2.038 3.24-3.24A.75.75 0 106.71.98L4 3.69 1.29.98A.75.75 0 10.23 2.04l3.24 3.24A.747.747 0 004 5.5z"/></svg>
                </button>
              </span>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>



    <div class="error-row row">
      <div class="spectrum-StatusLight spectrum-StatusLight--negative">Please select atleast one file!</div>
    </div>
    <div class="row">
      <button type="submit" class="spectrum-Button spectrum-Button--cta" id="submit-btn">
        <span class="spectrum-Button-label">Merge!</span>
      </button>
    </div>
  </form>


</div>
{% endblock body %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='node_modules/dragula/dist/dragula.min.js') }}"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" 
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" 
    crossorigin="anonymous">
  </script>
  <script src="{{ url_for('static', filename='js/arrange.js') }}"></script>

  <script src="{{ url_for('static', filename='js/countdown.js') }}"></script>
  <script>
    countdown_wrapper({{ id }}, {{ expires | tojson}})
  </script>
{% endblock scripts %}