{% extends 'base.html.j2' %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/arrange.css') }}">
{% endblock styles %}

{% block title %}
    {{ super() }}
     | Arrange files
{% endblock title %}

{% block body %}
<div class="main-content">
  {{ id }}

  <form action="/merger/{{ id }}/complete/" method="POST">
    <div id="arrange-container">
      {% for file in file_list %}
        <div class="file">
          <input type="text" name="file_{{ loop.index }}['name']" id="" value="{{ file['filename'] }}" class="file-input">
          {{ file['filename'] }}
          <input type="number" name="file_{{ loop.index }}['start']" id="" value=1>
          <input type="number" name="file_{{ loop.index }}['end']" id="" value={{ file["pages"] }}>
        </div>
      {% endfor %}
    </div>

    <button type="submit">Submit</button>
  </form>


</div>
{% endblock body %}

{% block scripts %}
  {{ super() }}
  <script 
    src="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.3/dragula.min.js" 
    integrity="sha512-NgXVRE+Mxxf647SqmbB9wPS5SEpWiLFp5G7ItUNFi+GVUyQeP+7w4vnKtc2O/Dm74TpTFKXNjakd40pfSKNulg==" 
    crossorigin="anonymous">
  </script>
  <script src="{{ url_for('static', filename='js/arrange.js') }}"></script>
{% endblock scripts %}