{% extends 'base.html.j2' %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/merger.css') }}">
{% endblock styles %}

{% block title %}
    {{ super() }}
     | Merger
{% endblock title %}

{% block body %}
<div class="main-content">
  <div class="heading">
    <h1>Merger</h1>
  </div>

  <div class="spectrum-Steplist" role="list">
    <div class="spectrum-Steplist-item is-selected" role="listitem" aria-posinset="1" aria-setsize="4">
      <span class="spectrum-Steplist-label">Start Merger</span>
      <span class="spectrum-Steplist-markerContainer">
        <span class="spectrum-Steplist-marker"></span>
      </span>
      <span class="spectrum-Steplist-segment"></span>
    </div>
    <div class="spectrum-Steplist-item" role="listitem" aria-posinset="2" aria-setsize="4">
      <span class="spectrum-Steplist-label">Upload Files</span>
      <span class="spectrum-Steplist-markerContainer">
        <span class="spectrum-Steplist-marker"></span>
      </span>
      <span class="spectrum-Steplist-segment"></span>
    </div>
    <div class="spectrum-Steplist-item" role="listitem" aria-posinset="3" aria-setsize="4" aria-current="step">
      <span class="spectrum-Steplist-label">Arrange Files</span>
      <span class="spectrum-Steplist-markerContainer">
        <span class="spectrum-Steplist-marker"></span>
      </span>
      <span class="spectrum-Steplist-segment"></span>
    </div>
    <div class="spectrum-Steplist-item" role="listitem" aria-posinset="4" aria-setsize="4">
      <span class="spectrum-Steplist-label">Complete</span>
      <span class="spectrum-Steplist-markerContainer">
        <span class="spectrum-Steplist-marker"></span>
      </span>
      <span class="spectrum-Steplist-segment"></span>
    </div>
  </div>

  <div class="row">
    {# <a href="{{ id }}/upload"> #}
      <button class="spectrum-Button spectrum-Button--cta" id="continue-btn">
        <span class="spectrum-Button-label">Start&nbsp;<i class="fas fa-play"></i></span>
      </button>
    {# </a> #}
  </div>

  <div class="row tutorial-img-row">
    <img src="{{ url_for('static', filename='screenshots/light-mode.gif') }}" alt="" width="70%" id="tutorial-img-light">
    <img src="{{ url_for('static', filename='screenshots/dark-mode.gif') }}" alt="" width="70%" id="tutorial-img-dark">
  </div>

{% endblock body %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/merger.js') }}"></script>
{% endblock scripts %}