{% extends 'base.html.j2' %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/merger.css') }}">
{% endblock styles %}

{% block title %}
    {{ super() }}
     | Merger
{% endblock title %}

{% block body %}
<div class="main-content">
  <div class="heading">
    <h1>Merger</h1>
  </div>
  <div class="row">
    <a href="{{ id }}/upload">
      <button class="spectrum-Button spectrum-Button--cta" id="continue-btn">
        <span class="spectrum-Button-label">Start&nbsp;<i class="fas fa-play"></i></span>
      </button>
    </a>
  </div>
{% endblock body %}