.spectrum-Asset {
  width: 50%;
  margin: auto;
  flex-direction: row !important;
  justify-content: space-around;
}

.spectrum-AssetList-itemLabel {
  color: var(--spectrum-global-color-gray-900);
}

.row {
  display: flex;
  justify-content: center;
}

#restart-btn {
  margin-top: 24px;
}
