.spectrum-Asset {
  width: 50%;
  margin: auto;
  flex-direction: row !important;
  justify-content: space-around;
}

.spectrum-AssetList-itemLabel {
  color: var(--spectrum-global-color-gray-900);
}
