html {
  scroll-behavior: smooth;
}

.main-content {
  margin-top: 120px;
}

.heading {
  width: 100%;
  text-align: center;
  font-size: x-large;
}

a {
  text-decoration: none;
  color: inherit;
}

.row {
  display: flex;
  justify-content: center;
}

.spectrum-Steplist {
  margin-bottom: 30px;
  margin-top: 0;
}

.spectrum-Toast {
  position: fixed;
  top: 24px;
  right: 24px;
  transition: all 2s ease;
  display: flex;
  flex-direction: column;
}

.toast-message {
  display: flex;
  flex-direction: row;
}

#progress {
  width: 100%;
  background-color: rgba(225, 225, 225, 0.2);
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

#bar {
  width: 0%;
  height: 6px;
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  transition: all 1s ease-out;
}

.tutorial-div {
  background-color: rgb(15, 121, 125);
  color: rgb(15, 121, 125);
  padding: 15px 20px;
  display: inline-block;

  position: fixed;
  right: 0;

  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;

  padding-right: 12px;
}

.tutorial-div i {
  color: white;
  font-size: xx-large;
}
