.upload-location {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.spectrum-Dropzone {
  padding: 0;
}

#submit-btn {
  margin-bottom: 24px;
}

a {
  text-decoration: none;
}

.dropzone {
  background-color: transparent !important;
  position: relative !important;
  color: transparent;

  width: 100%;
  height: 100%;
  min-height: 0px !important;

  z-index: 999;

  border-style: dashed !important;

  margin-bottom: 24px;
}

.spectrum-IllustratedMessage--cta {
  position: relative;
  z-index: -999;
}

.dz-message {
  color: var(--spectrum-global-color-gray-900);
  text-align: center;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dz-message h2,
p {
  display: flex;
  justify-content: center;
  max-width: none !important;
}

.dz-drag-hover {
  border-color: var(--spectrum-global-color-blue-400) !important;
  background-color: var(--spectrum-alias-highlight-selected) !important;
}

.dz-drag-hover svg {
  color: var(--spectrum-global-color-blue-400) !important;
}

.dropzone .dz-preview.dz-file-preview .dz-image {
  background-image: none !important;
  background-color: var(--spectrum-global-color-red-500) !important;
}

.spectrum-IllustratedMessage-illustration {
  margin-top: 24px;
}

.dz-progress .dz-upload {
  background-image: none !important;
  background-color: var(--spectrum-global-color-blue-500) !important;
}

.spectrum-StatusLight--negative {
  margin-bottom: 24px;
  border: 1px dashed var(--spectrum-global-color-red-700);
  border-radius: 6px;
  padding: 5px;
}
