{% extends 'base.html.j2' %}

{% block title %}
    {{ super() }}
     | Home
{% endblock title %}

{% block body %}
    <button class="spectrum-Button spectrum-Button--cta" id="toggle-mode-btn">
      <span class="spectrum-Button-label">Toogle</span>
    </button>
{% endblock body %}