<!DOCTYPE html>
<html lang="en" class="spectrum spectrum--medium spectrum--light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">

    <link 
      rel="stylesheet" 
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" 
      integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" 
      crossorigin="anonymous">

    {% set base_css_path = 'node_modules/@adobe/spectrum-css/dist' %}

    {% set css_arr = [
      '/vars/spectrum-global.css',
      '/vars/spectrum-medium.css',
      '/vars/spectrum-light.css',
      '/vars/spectrum-dark.css',
      'spectrum-core.css',
      'spectrum-light.css',
      'spectrum-dark.css',
      'components/stepper/index.css',
      'components/stepper/multiStops/dark.css',
      'components/stepper/colorStops/light.css',
    ] 
    %}

    {% for css in css_arr %}
      <link
      rel="stylesheet"
      href="/static/{{ base_css_path }}/{{ css }}"
    />
    {% endfor %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">

    {% block styles %}
      
    {% endblock styles %}
    
    <title>{% block title %} pdfTools {% endblock title %}</title>
  </head>
  <body>

    <ul class="spectrum-Menu" role="menu" id="navbar">
      <li class="spectrum-Menu-item" role="menuitem" tabindex="0">
        <span class="spectrum-Menu-itemLabel brand">
          <a href="/">
            <button class="spectrum-Button spectrum-Button--primary">
              <span class="spectrum-Button-label">pdfTools Web</span>
            </button>
          </a>
        </span>
      </li>
      {# <li class="spectrum-Menu-item" role="menuitem" tabindex="0"> #}
        <a class="spectrum-Menu-item" role="menuitem" tabindex="0" href="/merger">
          <span class="spectrum-Menu-itemLabel">Merger</span>
        </a>
      {# </li> #}
      {# <li class="spectrum-Menu-item" role="menuitem" tabindex="0">
        <span class="spectrum-Menu-itemLabel">Splitter</span>
      </li>
      <li class="spectrum-Menu-item" role="menuitem" tabindex="0">
        <span class="spectrum-Menu-itemLabel">Bookmarker</span>
      </li> #}
      <li class="spectrum-Menu-divider" role="separator"></li>
      <li class="spectrum-Menu-item" role="menuitem" tabindex="0">
        <a href="https://github.com/Kinjalrk2k/pdfTools-Web">
          <span class="spectrum-Menu-itemLabel navbar-icon"><i class="fab fa-github"></i></span>
        </a>
        {# <button class="spectrum-Button spectrum-Button--cta">
          <span class="spectrum-Button-label"><i class="fab fa-github"></i></span>
        </button> #}
      </li>
      <li class="spectrum-Menu-item" role="menuitem" tabindex="0" id="toggle-mode-btn">
        <span class="spectrum-Menu-itemLabel navbar-icon"><i class="fas fa-moon"></i></span>
        {# <button class="spectrum-Button spectrum-Button--cta" id="toggle-mode-btn">
          <span class="spectrum-Button-label"><i class="fas fa-moon"></i></span>
        </button> #}
      </li>
    </ul>

    {% block body %}
      
    {% endblock body %}

    {% block scripts %}
      <script src="{{ url_for('static', filename='js/toggle-mode.js') }}"></script>
    {% endblock scripts %}
  </body>
</html>
